### Project Goals
You will work to write several functions that investigate a dataset of Jeopardy! questions and answers. Filter the dataset for topics that you’re interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!

In order to disply the full contents of a column, we’ve added this line of code to the top of your file:

    pd.set_option('display.max_colwidth', -1)

In [62]:
import pandas as pd
import numpy as np



# The suggested line of code contains depreciated. Code should be as shown following:
pd.set_option('display.max_colwidth', None)

jeopardy_csv = pd.read_csv('jeopardy.csv')

In [63]:
# The column headings contain whitespace. Strip out using lambda method 
jeopardy_csv = jeopardy_csv.rename(columns = lambda x: x.strip())
print(jeopardy_csv.columns)

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

Write a function that filters the dataset for questions that contains all of the words in a list of words. For example, when the list ["King", "England"] was passed to our function, the function returned a DataFrame of 152 rows. Every row had the strings "King" and "England" somewhere in its " Question".

In this useful?

*Comment: Python3 built-in function:*  **filter(function, iterable)**

In [64]:
# Filter function to check if words are in dataset, first with suggested list
# Note: add leading space to ' king' in order to eliminate unwanted matches such as 'viking'
# Comment for function- we will always be using 'jeopardy_csv' as the data- eliminate the variable?
#
# words = [' King' ,'England']
# data = jeopardy_csv


# New filters following
words = ['Jupiter']
data = jeopardy_csv

def filter_data(dataset, wordlist):
    filter = lambda x: all(word.lower() in x.lower() for word in wordlist)
    return dataset.loc[dataset['Question'].apply(filter)]
    

filtered_data = filter_data(data, words)
print(filtered_data['Question'].head(3))

6502                                 In 1610 this Italian made his biggest discovery: the 4 largest moons of Jupiter
6600    Add this letter to Jupiter's moon Io & you get an acronym that's a ground-floor stock offer for regular guys
8120                                         The Roman god Jupiter used this weather phenomenon as a weapon, by jove
Name: Question, dtype: object

'Value' column data are strings beginning with dollar sign and include commas for the thousands, both of which need to be stripped. 'Final Jeopardy' values are None so these need to be addressed/ given a number value: Perhaps as the maximum value of '$', thus 2000? 

Convert and save 'Value' column as floats in new column so that the float values can be analysed.

In [65]:
# Insert new column after existing 'Value' column, then a) delete '$' which always occurs in [0] position,
# b) replace ',' which occurs in values of thousands, c) all applied if lambda's x does not equal 'None', else 
# 'None' values replaced with value of 2000, and finally d) wrap method with float() in order to conver.

jeopardy_csv.insert(5, 'Value_Floats', jeopardy_csv.Value.apply(lambda x: float(x[1:].replace(',','') if x != 'None' else 2000)))

# To verify it is working:
print(jeopardy_csv.head())

   Show Number    Air Date      Round                         Category Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

   Value_Floats  \
0         200.0
1         200.0
2         200.0
3         200.0
4         200.0

                                                                                                      Question  \
0             For the last 8 years of his life, Galileo was under house arrest for espousing this man's theory
1  No. 2: 1912 Olympian; football star at Carlisle Indian School; 6 MLB seasons with the Reds, Giants & Braves
2                     The city of Yuma in this state has a record average of 4,055 hours of sunshine each year
3                         In 1963, live on "The Art Linkletter Show", this company served its billionth burger
4     Signer of the Dec. of Indep., framer of the Constitution of Mass., second President of the United States

       Answer
0  Copernicus
1  Jim Thorpe
2     Arizona
3  McDonald's
4  John Adams

In [ ]:
# Experiment to check how function runs WITHOUT using dataset.loc[] . . .

# words = ['China']
# data = jeopardy_csv

# def filter_data(dataset, wordlist):
#     filter = lambda x: all(word.lower() in x.lower() for word in wordlist)
#     return dataset[dataset['Question'].apply(filter)]
    

# filtered_data = filter_data(data, words)
# print(filtered_data['Question'])

In [ ]:
# versus using dataset.loc[]. 
# In this case, no apparent difference

# words = ['China']
# data = jeopardy_csv

# def filter_data(dataset, wordlist):
#     filter = lambda x: all(word.lower() in x.lower() for word in wordlist)
#     return dataset.loc[dataset['Question'].apply(filter)]
    

# filtered_data = filter_data(data, words)
# print(filtered_data['Question'])

In [ ]:
# Check if 'Values_Float' for 'Round' = 'Final Jeopardy' successfully changed to 2000


print(jeopardy_csv.loc[116]['Value_Floats'])


Check difficulty based on average value of questions containing certain terms

In [ ]:
print('\n\nThe average value of questions containing the term(s) {} is {} points.'\
      .format(words, filtered_data['Value_Floats'].mean()))

Write function that takes count of unique answers to the questions which satisfy the filter term.

In [ ]:
# Python method .value_counts() return the info we are looking for...

def find_top_answers(dataset):
    return dataset['Answer'].value_counts()

print(find_top_answers(filtered_data))

print('''\n\nThe most-cited, unique answer to the question containing the term \
{} is \'{}\' which appears {} times in this dataset.'''.format(words, find_top_answers(filtered_data).index[0], find_top_answers(filtered_data)[0]))

Explore from here! This is an incredibly rich dataset, and there are so many interesting things to discover. There are a few columns that we haven’t even started looking at yet. Here are some ideas on ways to continue working with this data:

Investigate the ways in which questions change over time by filtering by the date. How many questions from the 90s use the word "Computer" compared to questions from the 2000s?
Is there a connection between the round and the category? Are you more likely to find certain categories, like "Literature" in Single Jeopardy or Double Jeopardy?
Build a system to quiz yourself. Grab random questions, and use the input function to get a response from the user. Check to see if that response was right or wrong. Note that you can’t do this on the Codecademy platform — to do this, download the data, and write and run the code on your own computer!

In [123]:
# Check how often various terms appear vs. the date
# First, create new column 'Air_Year' then check dates of when the 'dated_term' appears
# Ridiculously easy using .shape[]


# jeopardy_csv.insert(2, 'Air Year', jeopardy_csv['Air Date'].apply(lambda x: int(x[0:4])))

# Now use the np.percentile() function to subdivide the range of years (more or less) evenly.

total_shows = jeopardy_csv['Air Year'].count()
# first_third = jeopardy_csv['Air Year'].apply(lambda x: np.percentile(x, 50))
year_thirds = np.percentile(jeopardy_csv['Air Year'], [33, 67])

first_half = jeopardy_csv['Air Year'].mean()
print(total_shows)
print(year_thirds)
print(first_half)

def dated_term_ranges(dated_term):
    filtered_data = filter_data(jeopardy_csv, dated_term)
    dated_term_pre_00 = filtered_data[(filtered_data['Air Year'] <= 2000)].shape[0]
    dated_term_pre_06 = filtered_data[(filtered_data['Air Year'] <= 2006)].shape[0] - dated_term_pre_00
    dated_term_pre_12 = filtered_data[filtered_data['Air Year'] <= 2012].shape[0] - (dated_term_pre_06 + dated_term_pre_00)
    dated_term_total = filtered_data[filtered_data['Air Year'] < 2013].shape[0]
    print('\nGiven the term {}, how often does it appear:'.format(dated_term))
    print('\n\tThru year 2000: {} times or {}%'.format(dated_term_pre_00, round(dated_term_pre_00/dated_term_total*100,1)))
    print('\tFrom 2001 thru 2006: {} times or {}%'.format(dated_term_pre_06, round(dated_term_pre_06/dated_term_total*100, 1)))
    print('\tFrom 2007 thru 2012: {} times or {}%'.format(dated_term_pre_12, round(dated_term_pre_12/dated_term_total*100, 1)))

# Call to 'dated_term_ranges([''])' below should match 'total_shows' above...
dated_term_ranges([''])
dated_term_ranges(['fax'])
dated_term_ranges(['cellphone'])
dated_term_ranges(['computer'])
dated_term_ranges(['laptop'])
dated_term_ranges(['processor'])
dated_term_ranges(['aol'])

216930
[2000. 2006.]
2002.6858203106992

Given the term [''], how often does it appear:

	Thru year 2000: 78292 times or 36.1%
	From 2001 thru 2006: 68858 times or 31.7%
	From 2007 thru 2012: 69780 times or 32.2%

Given the term ['fax'], how often does it appear:

	Thru year 2000: 15 times or 34.1%
	From 2001 thru 2006: 12 times or 27.3%
	From 2007 thru 2012: 17 times or 38.6%

Given the term ['cellphone'], how often does it appear:

	Thru year 2000: 0 times or 0.0%
	From 2001 thru 2006: 2 times or 66.7%
	From 2007 thru 2012: 1 times or 33.3%

Given the term ['computer'], how often does it appear:

	Thru year 2000: 129 times or 29.9%
	From 2001 thru 2006: 139 times or 32.3%
	From 2007 thru 2012: 163 times or 37.8%

Given the term ['laptop'], how often does it appear:

	Thru year 2000: 2 times or 11.8%
	From 2001 thru 2006: 5 times or 29.4%
	From 2007 thru 2012: 10 times or 58.8%

Given the term ['processor'], how often does it appear:

	Thru year 2000: 6 times or 27.3%
	From 2001 thru 2006: 4 times or 18.2%
	From 2007 thru 2012: 12 times or 54.5%

Given the term ['aol'], how often does it appear:

	Thru year 2000: 7 times or 17.9%
	From 2001 thru 2006: 18 times or 46.2%
	From 2007 thru 2012: 14 times or 35.9%